
Dan Roh Kudus berkata lihat lah di ujung sana, dan saya melihat ada pasukan batch 1 yang sedang berdiri sambil melihat setiap pasukan yang sedang di persiapkan, dan Roh Kudus berkata perhatikan barisan pasukan batch 1 yang tidak berdiri, lalu sa.pro
KARENA begitu banyak orang beriman memperhatikan kita, marilah kita menanggalkan segala sesuatu yang memperlambat atau menghambat kita, terutama dosa yang melilit kaki kita dengan erat dan merintangi jalan kita.pro
Saya melihat ada kasut kerelaan yang rusak, dan dibawahnya penuh dengan lumpur hitam. Roh Kudus berkata “Kasut kerelaan beberapa pasukan Ku, menempel dengan keputusasaan. Itulah jebakan si jahat yang menangkap mereka.pro
SEMENTARA itu orang makin banyak saja, sehingga mereka berdesak-desakan dalam jumlah ribuan. Yesus berpaling kepada murid-murid-Nya dan memperingatkan mereka, _Waspadalah terhadap orang-orang Farisi ini yang berpura-pura baik.pro
